body {
  margin: 20px;
}

hgroup {
    text-align: right;
    padding-right: 16px;
    border-right: 10px solid #f73e4d;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #fc7853;
    font-style: italic;
    color: #fc3E30;
}

aside > p {
    margin: 0.5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}    

.name {
  	font: 1.4rem molot;
    color: red;
}

.txt .name {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
}







